ul li {
  list-style: none;
  display:inline-block;
}

a:hover {
outline: none;
text-decoration:none;
}

a:focus {
  outline:none;
  outline-offset: 0;
}

.mainmenu ul li a {
	color: #696763;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 300;
	padding: 0;
	padding-bottom: 10px;
	text-decoration:none;
}

.mainmenu ul li a:hover, .mainmenu ul li a.active,  .shop-menu ul li a.active{
	background:none;
	color:#fdb45e;
}
.dleft{
	float:left;
	/*border: 1px solid blue;*/
}
.dright{
	float:left;
	/*border: 1px solid blue;*/
}
div{
	box-sizing:border-box;
}